body{
    background-color: black;
  }
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }
  .first-line{
    margin-top: 3%;
    color: white;
  }
  .navbar-default{
    border-top: 1px solid gray;
    transition:500ms ease;
    margin-left: 5%;
    margin-right: 5%;
    background:transparent;
  }
  .navbar-default.scrolled{
    background:#4c4c4c;
    margin-right: 0%;
    margin-left: 0%;
  }
  .buton{
    color: hotpink;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;
    background-color: transparent;
    border: 2px solid green;
    margin-right: 15px;
  }
  .mydiv{
    background-color: white;
    text-align: center;
  }
  .seconddiv{
    text-align: center;
    height: 400px;
    width: 25%;
    color: yellowgreen;
    background-color: white;
    border: yellowgreen 8px solid;
    float: left;
  }
  .thirddiv{
    text-align: center;
    height: 400px;
    width: 25%;
    color: palevioletred;
    background-color: white;
    border: palevioletred 8px solid;
    float: left;
  }
  .fourthdiv{
    text-align: center;
    height: 400px;
    width: 25%;
    background-color: white;
    color: yellowgreen;
    border: yellowgreen 8px solid;
    float: left;
  }
  .firstdiv{
    text-align: center;
    height: 400px;
    width: 25%;
    background-color: white;
    color: palevioletred;
    border: palevioletred 8px solid;
    float: left;
  }
  .mydiv p{
    font-weight: bold;
  }
  .mydiv button{
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 0px 8px 8px 0px black;
    margin-right: 15px;
  }
  .mydiv h1{
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
  
  }
  .mydiv2{
    background-color: white;
    height: 50px;
    width: 100%;
  }
  .mydiv3{
    background-color: black;
    text-align: center;
    border-top: 8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white;
  
  }
  .mydiv3 h1{
    font-family: 'Gotu', sans-serif;
    color: green;
  }
  .mydiv3 p{
    color: white;
  }
  .mydiv4{
    background-color: black;
    border-bottom: 8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white;
  }
  .mydiv5{
    background-color: black;
    border-top: 8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white;
    border-bottom: 8px solid black;
  
  }
  .mydiv5 h1{
    font-family: 'Gotu', sans-serif;
    text-align: center;
    color: green;
  }
  .mydiv5 p{
    text-align: center;
    color: white;
  }
  .mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
  
  }
  
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
    
  }
  .div6{
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    }
    .div7{
      background-color: yellowgreen;
      color: white;
      height: 60px;
    }
    .div7 p{
      font-size: 1.5em;
      padding-top: 1%;
      display: inline;
    }